<footer class="page-footer footer-custom font-small">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 	{{ "now"|date("Y") }} Copyright:
    <a href="http://linkedin.com/in/elie-gazel"> Elie Gazel</a>
  </div>
  <!-- Copyright -->

</footer>