<html>
    <head>
        <meta charset="UTF-8">
        <title>Elie Gazel's Developer Portfolio</title>
        {% include "partials/header.html.twig" %}

    </head>
    <body>
        <script>document.body.className += ' fade-out';</script>

        <header>
        {% include "partials/navbar.html.twig" %}
        </header>
        <main class="site-wrapper">
            <div class="pt-table desktop-768">
                <div class="pt-tablecell page-home relative" style="background-image: url(https://images2.alphacoders.com/866/866443.jpg);
                background-position: center;
                background-size: cover;
                background-attachment: fixed;">
                    <div class="overlay"></div>   
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                <div class="page-title  home text-center">
                                    <div class="headingBg">
                                        <span class="heading-page">Career & studies<span class="blink_me">|</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section id="cd-timeline" class="cd-container">
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                            </div>
                            <div class="cd-timeline-content">
                                <h2>Wild Sheep Studio</h2>
                                <div class="timeline-content-info">
                                <span class="timeline-content-info-title">
                                <i class="fa fa-certificate" aria-hidden="true"></i>
                                Associate producer
                                </span>
                                <span class="timeline-content-info-date">
                                    <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                    Sep. 2020 - Feb. 2021
                                </span>
                                </div>
                                        <p>On "Wild", managed and monitored the production planning, followed the tech teams progress, managed meetings and communication, proposed different management tools.</p>
                                <ul class="content-skills">
                                    <li>Management</li>
                                    <li>Organization</li>
                                    <li>Multi-tasking</li>
                                    <li>Communication</li>
                                    <li>Punctuality</li>
                                    <li>Jira</li>
                                </ul>
                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                            </div>
                            <div class="cd-timeline-content">
                                <h2>Wild Sheep Studio</h2>
                                <div class="timeline-content-info">
                                <span class="timeline-content-info-title">
                                    <i class="fa fa-certificate" aria-hidden="true"></i>
                                    Tools programmer
                                </span>
                                <span class="timeline-content-info-date">
                                    <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                    Aug. 2019 - Sep. 2020
                                </span>
                                </div>
                                <p>Internship on Michel Ancel's game "Wild". Developped tools for artists, level designers, game designers, animators... Worked on the different export pipes as a part of the tools team.</p>
                                <ul class="content-skills">
                                    <li>Python</li>
                                    <li>Maxscript</li>
                                    <li>C++</li>
                                    <li>3DSMax</li>
                                    <li>Blender notions)</li>
                                    <li>VCS (Perforce, Github)</li>
                                </ul>
                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                            </div>
                            <div class="cd-timeline-content">
                                <h2>Bachelor's degree</h2>
                                <div class="timeline-content-info">
                                <span class="timeline-content-info-title">
                                <i class="fas fa-award" aria-hidden="true"></i></i>
                                3rd year student
                                </span>
                                <span class="timeline-content-info-date">
                                    <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                    Sep. 2019 - Jul. 2020
                                </span>
                                </div>
                                <p>Graduated from 3rd year at the ingeneering school EPSI Montpellier. I also got a bachelor's degree in "Conception and Developement of Applications". </p>
                                <ul class="content-skills">
                                    <li>C#</li>
                                    <li>Python</li>
                                    <li>Java</li>
                                    <li>Angular</li>
                                    <li>Symfony</li>
                                    <li>PHP7</li>
                                    <li>Javascript</li>
                                    <li>Powershell</li>
                                    <li>Ethical hacking</li>
                                    <li>Network security</li>
                                    <li>IOT</li>
                                    <li>Database management (SQL, PLSQL, NOSQL)</li>
                                    <li>DevOps</li>
                                    <li><i class="fas fa-award"></i> Degree in "Conception and Developement of Applications"</li>

                                </ul>
                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                            </div>
                            <div class="cd-timeline-content">
                                <h2>BTEC Higher National Diploma</h2>
                                <div class="timeline-content-info">
                                <span class="timeline-content-info-title">
                                <i class="fas fa-award" aria-hidden="true"></i>
                                1st/2nd year student
                                </span>
                                <span class="timeline-content-info-date">
                                    <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                    Sep. 2017 - Jul. 2019
                                </span>
                                </div>
                                        <p>Fresh start at studies after a few years working. Obtained a 2 years diploma, graduated top of class both years.</p>
                                <ul class="content-skills">
                                    <li>Algorithmic</li>
                                    <li>HTML5</li>
                                    <li>CSS3</li>
                                    <li>PHP7</li>
                                    <li>jQuery</li>
                                    <li>Wordpress</li>
                                    <li><i class="fas fa-award"></i> HND in "IT Services to Organizations"</li>
                                </ul>
                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                            </div>
                            <div class="cd-timeline-content">
                                <h2>Restauration</h2>
                                <div class="timeline-content-info">
                                <span class="timeline-content-info-title">
                                <i class="fa fa-certificate" aria-hidden="true"></i>
                                Waiter
                                </span>
                                <span class="timeline-content-info-date">
                                    <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                    Jan. 2015 - Jul. 2017
                                </span>
                                </div>
                                        <p>Worked as a waiter in different restaurants, mostly in the 4* hotel restaurant "La Chapelle Saint-Martin" (Limoges, France)</p>
                                <ul class="content-skills">
                                    <li>Work under stress</li>
                                    <li>Multi-tasking</li>
                                    <li>Punctuality</li>
                                    <li>Customer relationship</li>
                                    <li>Wordpress</li>
                                </ul>
                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                            </div>
                            <div class="cd-timeline-content">
                                <h2>Highschool diploma</h2>
                                <div class="timeline-content-info">
                                <span class="timeline-content-info-title">
                                <i class="fa fa-certificate" aria-hidden="true"></i>
                                high-schooler
                                </span>
                                <span class="timeline-content-info-date">
                                    <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                    Jul. 2013
                                </span>
                                </div>
                                        <p>Obtained a scientific high school diploma, with biology speciality.</p>
                                
                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->
                    </section> <!-- cd-timeline -->
                </div>
            </div>
        </main>
        {% include "partials/footer.html.twig" %}
    </body>
</html>