<html>
    <head>
        <meta charset="UTF-8">
        <title>Elie Gazel's Developer Portfolio</title>
        {% include "partials/header.html.twig" %}
        <link href="/css/contact.css" rel="stylesheet">
    </head>
    <body>
        <script>document.body.className += ' fade-out';</script>

        <header>
        {% include "partials/navbar.html.twig" %}
        </header>
        <main class="site-wrapper">
            <div class="pt-table desktop-768">
                <div class="pt-tablecell page-home relative" style="background-image: url(https://images2.alphacoders.com/866/866443.jpg);
                background-position: center;
                background-size: cover;
                background-attachment: fixed;">
                    <div class="overlay"></div>   
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-0 col-lg-12">
                                    <div class="page-title  home text-center">
                                        <div class="headingBg">
                                            <span class="heading-page">Contact me!<span class="blink_me">|</span></span>
                                        </div>
                                        <section class="cd-container">
                                        <br>
                                        <p class="">Feel free to contact me via mail or Linkedin, wether you're looking for a developper or just need more informations!</p>
                                        <h1>
                                            <a href="http://www.linkedin.com/in/elie-gazel" target="_blank" class="hvr-pulse-shrink"><i class="fab fa-linkedin"></i></a>
                                            <a href="mailto:contact@egazel.com" class="hvr-pulse-shrink"><i class="fas fa-envelope-square"></i></a>
                                        </h1>
                                        </section>
                                    </div>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include "partials/footer.html.twig" %}
    </body>
</html>