<html>
    <head>
        <meta charset="UTF-8">
        <title>Elie Gazel's Developer Portfolio</title>
        {% include "partials/header.html.twig" %}
        <script type="text/javascript" src="/js/lightbox.js"></script>

    </head>
    <body>
        <script>document.body.className += ' fade-out';</script>

        <header>
        {% include "partials/navbar.html.twig" %}
        </header>
        <main class="site-wrapper">
            <div class="pt-table desktop-768">
                <div class="pt-tablecell page-home relative" style="background-image: url(https://images2.alphacoders.com/866/866443.jpg);
                background-position: center;
                background-size: cover;
                background-attachment: fixed;"
                >
                    <div class="overlay"></div>   
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-0 col-lg-12">
                                    <div class="page-title  home text-center">
                                        <span class="heading-page" style="color:white; z-index:1000;">Hobbies<span class="blink_me">|</span></span>
                                        <hr></hr>
                                        
                                        <section class="cd-container">
                                            <p class="mt20"><br>Apart from developping (and gaming, of course), I have other hobbies that help me keep a good life balance between manual activites and informatic stuff. Feel free to take a look around if you want to learn a bit more about what I do when I'm off the computer!</p>
                                            <span class="heading-page">Knife making</span>
                                            <hr></hr>
                                            <div class="container">
                                                <div class="row">
                                                    <a href="/img/bk0.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                                                        <img src="/img/bk0.jpg" class="img-fluid rounded">
                                                    </a>
                                                    <a href="/img/bk1.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                                                        <img src="/img/bk1.jpg" class="img-fluid rounded">
                                                    </a>
                                                    <a href="/img/bk2.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                                                        <img src="/img/bk2.jpg" class="img-fluid rounded">
                                                    </a>
                                                </div>
                                                <div class="row">
                                                    <a href="/img/bk3.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                                                        <img src="/img/bk3.jpg" class="img-fluid rounded">
                                                    </a>
                                                    <a href="/img/2k0.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                                                        <img src="/img/2k0.jpg" class="img-fluid rounded">
                                                    </a>
                                                    <a href="/img/2k01.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                                                        <img src="/img/2k01.jpg" class="img-fluid rounded">
                                                    </a>
                                                </div>
                                                 <div class="row">
                                                    <a href="/img/2k02.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                                                        <img src="/img/2k02.jpg" class="img-fluid rounded">
                                                    </a>
                                                    <a href="/img/2k1.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                                                        <img src="/img/2k1.jpg" class="img-fluid rounded">
                                                    </a>
                                                    <a href="/img/2k2.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                                                        <img src="/img/2k2.jpg" class="img-fluid rounded">
                                                    </a>
                                                </div>
                                            </div>
                                            <span class="heading-page">Martial arts</span>
                                            <hr></hr>
                                            <p class="mt20">Martial arts are a way to learn how to control yourself and stay focused. It's also a nice way of exerting physcal energy! I've practiced a few martial arts in my life, including french boxing, Shotokan-ryu karate, and I recentely started Taekwondo.</p>
                                            <br>
                                            <span class="heading-page">Music</span>
                                            <hr></hr>
                                            <p class="mt20 mb-5">As long as I can recall, I grew up with music. My father was a pianist, he did most of the Rayman 1 musics! I've played the piano for 7 years overall and the guitar for the past 15 years.</p> #}
                                        </section> <!-- cd-timeline -->
                                    </div>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include "partials/footer.html.twig" %}
    </body>

</html>