<html>
    <head>
        <meta charset="UTF-8">
        <title>Elie Gazel's Developer Portfolio</title>
        {% include "partials/header.html.twig" %}

    </head>
    <body>
        <script>document.body.className += ' fade-out';</script>
        <header>
        {% include "partials/navbar.html.twig" %}
        </header>
        <main class="site-wrapper">
            <div class="pt-table desktop-768">
                <div class="pt-tablecell page-home relative" style="background-image: url(https://images2.alphacoders.com/866/866443.jpg);
                background-position: center;
                background-size: cover;
                background-attachment: fixed;"
                >
                    <div class="overlay"></div>   
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                    <div class="page-title  home text-center">
                                        <span class="heading-page" style="color:white; z-index:1000;">References<span class="blink_me">|</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section id="cd-timeline" class="cd-container">
                           
                        </section> <!-- cd-timeline -->
                </div>
            </div>
        </main>
    </body>
</html>