<html>
    <head>
        <meta charset="UTF-8">
        <title>Elie Gazel's Developer Portfolio</title>
        {% include "partials/header.html.twig" %}

    </head>
    <body>
        <script>document.body.className += ' fade-out';</script>

        <header>
        {% include "partials/navbar.html.twig" %}
        </header>
        <main class="site-wrapper">
            <div class="pt-table desktop-768">
                <div class="pt-tablecell page-home relative" style="background-image: url(https://images2.alphacoders.com/866/866443.jpg);
                background-position: center;
                background-size: cover;
                background-attachment: fixed;"
                >
                    <div class="overlay"></div>   
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-0 col-lg-12">
                                    <div class="page-title  home text-center">
                                        <div class="headingBg">
                                            <span class="heading-page">References<span class="blink_me">|</span></span>
                                        </div>
                                        <hr></hr>
                                        
                                        <section class="cd-container">
                                            <p class="mt20"><br>Here is a list of people that can vouch for me, and tell you a bit more about my way of working as a junior game developper.</p>
                                            <hr></hr>
                                            <div class="row"> 
                                                <div class="col-md-2"></div>
                                                <div class="card-container mx-auto col-md-5 mb-5">
                                                    <div class="card">
                                                        <div class="front imgfill" style="background-image:url(img/michelancel.jpg); height:100%;">
                                                            <span>Michel Ancel</span>
                                                        </div>
                                                        <div class="back">
                                                            Rayman, Beyond Good & Evil, Raving Rabbids, Co-founder of Wild Sheep Studio...
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-container mx-auto col-md-5 mb-5">
                                                    <div class="card">
                                                        <div class="front imgfill" style="background-image:url(img/steventerheide.jpg); height:100%;">
                                                            <span>Steven Ter Heide</span>
                                                        </div>
                                                        <div class="back">
                                                            Ex-Game director at Guerilla Games (Killzone franchise, Horizon Zero Dawn), Producer at Wild.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2"></div>

                                                <div class="card-container mx-auto col-md-5 mb-5">
                                                    <div class="card">
                                                        <div class="front imgfill" style="background-image:url(img/fabiendelpiano.png); height:100%;">
                                                            <span>Fabien Delpiano</span>
                                                        </div>
                                                        <div class="back">
                                                            Founder and Owner of PastaGames.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-container mx-auto col-md-5 mb-5">
                                                    <div class="card">
                                                        <div class="front imgfill" style="background-image:url(img/celinetellier.jpg); height:100%;">
                                                            <span>Celine Tellier</span>
                                                        </div>
                                                        <div class="back">
                                                            Ex-Art director at Ubisoft, Co-founder of Wild Sheep Studio.
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </section>
                                    </div>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include "partials/footer.html.twig" %}
    </body>
</html>